<section class='home'>
  <div>
    <h1>Welcome to ...</h1>
    <img src='https://thumbs.dreamstime.com/b/ad%C3%B3pteme-no-compre-adopci%C3%B3n-de-cat-pet-del-perro-99463424.jpg'
      alt="dog and cat image with hearts that say adopt me">
  </div>
  <div>
    <nav>

      <button>
        <a href="/users">
          Users
        </a>
      </button>
      <button>
        <a href="/pets">
          Pets
        </a>
      </button>
    </nav>
  </div>
</section>